<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125902216495-vtkplfl1tvecs0mf5rhd58t0alrhveao.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125902216495-vtkplfl1tvecs0mf5rhd58t0alrhveao</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125902216495-sa9441ua4t87pjemjkk8phn8eo4qvipi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCs2KBIFrkAToPkBE4flvWrI9LSpHLC294</string>
	<key>GCM_SENDER_ID</key>
	<string>125902216495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.snapz</string>
	<key>PROJECT_ID</key>
	<string>snapdiscover</string>
	<key>STORAGE_BUCKET</key>
	<string>snapdiscover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125902216495:ios:b26875cec9df1364f3d5da</string>
</dict>
</plist>